{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "Component": "./components",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
